:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: 400;
    overflow: hidden;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    min-height: 100vh;
    min-height: 100dvh;
    max-height: 100vh;
    max-height: 100dvh;
    overflow-y: auto;
    --base-primary-color: 220, 193, 56;
    --base-secondary-color: 41, 41, 51;
    --secondary-color: rgb(var(--base-secondary-color));
    background-color: var(--secondary-color);
    --primary-color: rgb(var(--base-primary-color));
    color: var(--primary-color);
}

h1,
h2,
h3,
h4 {
    font-size: 1em;
    line-height: 1.1;
}

input {
    background-color: transparent;
    color: rgb(214, 204, 204);
    padding: 0.5rem 1rem;
    border: none;
}

input[type='range'] {
    padding: 0;
}

button {
    border-radius: 8px;
    border: 1px solid var(--primary-color);
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: transparent;
    color: var(--primary-color);
    cursor: pointer;
    transition: border-color 0.25s;
}

button:hover {
    border-color: #fcff64;
}

button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

.subtle-btn {
    color: gray;
    text-decoration: underline;
    border: none
}

.strikethrough {
    text-decoration: line-through;
}

.opacity-35 {
    opacity: 35%;
}

.bold {
    font-weight: bold;
}

.underline {
    text-decoration: underline;
}

.invisible {
    visibility: hidden;
}