.container {
    margin: 1rem auto;
    padding: 0 1rem;
    max-width: 800px;
}

.backdrop {
    content: '';
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(0px);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 300ms;
}

.blur {
    backdrop-filter: blur(5px);
}

.translate-top {
    transform: translateY(-100vh);
}

.modal {
    position: absolute;
    background-color: var(--secondary-color);
    max-height: 80%;
    width: 96%;
    min-width: 300px;
    max-width: 600px;
    border-radius: 1rem;
    overflow-y: auto;
}

.modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    margin-top: 0;
    margin-bottom: 1rem;
    border-radius: 1rem 1rem 0 0;
    background-color: rgb(38, 41, 51);
    border-bottom: 1px solid rgb(63, 56, 56);
}

.modal-header .close {
    border: none;
    font-size: 2em;
}

.modal-content {
    padding: 0 2rem;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--primary-color);
    padding-bottom: 0.5rem;
}

.actions button {
    margin-left: 6px;
}

.timer-container,
.music-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1rem 0;
    border: 1px solid var(--primary-color);
    border-radius: 2.5rem;
    height: 400px;
    width: 100%;
    box-shadow: 0 0px 8px 3px var(--primary-color);
    gap: 2rem;
    transition: all 0.5s linear;
}

.music-container {
    height: auto;
}

.timer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.timer button {
    width: 100px;
    height: 50px;
}

.timer .time {
    color: white;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.timer .display {
    display: flex;
    gap: 1rem;
    color: white;
    font-weight: bold;
    font-size: 5em;
}

.timer .time .buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.fileInput-container {
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
    margin-top: 1rem;
    margin-right: 2rem;
}

.fileInput-container label {
    cursor: pointer;
}

#fileInput,
#breakInput {
    display: none;
}

.active-song-player,
.active-break-song-player {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;

}

.break-name-display {
    outline: 1px solid var(--break-color);
    padding: 0.5rem 1rem;
}

.break-name-display span {
    color: var(--break-color);
    overflow: hidden;
    text-overflow: ellipsis;
}

.media-time-slider {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -25px;
}

.music-list {
    margin: 3rem 0;
}

.music-list .music-row {
    cursor: pointer;
}

.music-row:nth-child(odd) {
    background-color: rgba(222, 222, 222, 0.15);
}

.music-row:nth-child(even) {
    background-color: rgba(222, 222, 222, 0.1);
}

.music-row {
    display: flex;
    gap: 1rem;
    padding: 0.5rem 1rem;
}

.music-row.active {
    color: rgba(var(--base-primary-color));
    outline: 1px solid rgba(var(--base-primary-color));
    background-color: rgba(var(--base-primary-color), 0.2);
}

.active-song-player-name {
    overflow: hidden;
    text-overflow: ellipsis;
}

.animate-button {
    transition: transform 100ms;
}

.animate-button:active {
    transform: scale(0.95)
}