.timer-settings {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.timer-settings input {
    width: 100%;
    border: 1px solid rgb(77, 70, 70);
    border-radius: 6px;
    font-size: 1.25em;
    box-sizing: border-box;
}

.timer-settings>div {
    width: 33%;
}

.timer-settings>div>label {
    display: block;
}

.footer {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    margin-bottom: 1rem;
}