.task-manager {
    display: flex;
    flex-direction: column;

}

.task,
.add-task,
.edit-task {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    border: 1px solid rgb(125, 118, 118, 0.5);
    border-radius: 6px;
    margin-bottom: 0.5rem;
    padding: 0.3rem 1rem;
    box-shadow: -5px 0 0px 1px black;
}

.add-task {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.task.active {
    border: 1px solid var(--primary-color)
}

.edit-task {
    flex-direction: column;
}

.edit-task .actions {
    display: flex;
    justify-content: space-between;
}

.grab {
    cursor: grab;
}

.grabbing {
    cursor: grabbing;
}

.task span,
.add-task input,
.edit-task input {
    flex-grow: 1;
    background-color: transparent;
    color: rgb(214, 204, 204);
    padding: 0.5rem 1rem;
    border: none;
}


.task button {
    border: none;
    height: 30px;
    width: 30px;
}

.add-task input {
    border-bottom: 1px solid rgb(125, 118, 118, 0.5);
}

.vellip {
    font-size: 1.5em;
}